 .header{
     text-align: center;
     background-color: black;
     color: white;
 }
 .photo img{
     float: right;
     margin-right: 0;
 }
 .photo {
     text-align: center;
 }
 .words {
     background-color: black;
     color: white;
     margin-top: 140px;
     text-align: center;
     
 }
 .foot{
     text-align: center;
       
            }
